@charset "utf-8";

/*----------------------*/
/* General Rules        */
/*----------------------*/

:root {
    --app-primary-font-color: #101b25;

    --app-primary-color: #0065C7;
    --app-button-bg-color: #0065C7;
    --app-button-bg-color-hover: #014991;
    --app-button-bg-color-primary: #c767b7;
    --app-button-bg-color-primary-hover: #99438b;
    --app-light-beige-color: #f8f7f6;

    --app-header-height: 90svh;
    --app-navbar-height: 80px;
    --app-footer-height: 60px;
}

a {
    text-decoration: none;
}

html {
    font-family: "Nunito Sans", "Noto Sans", Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 920px);
    margin-inline: auto;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #fff;
    font-weight: 100;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.height-100 {
    height: 100%;
}

.center {
    text-align: center;
}

.pad-20 {
    padding: 20px;
}

/*----------------------*/
/* Header               */
/*----------------------*/

header {
    background-color: #111111;
}

.hero-banner {
    background: #fff url('../img/hero-banner.jpg') center center / cover no-repeat;
    height: var(--app-header-height);
}

.navbar {
    height:var(--app-navbar-height);
}

.navbar .logo {
    color: var(--app-primary-font-color);
    font-size: 18px;
    font-weight: 500;
    line-height: var(--app-navbar-height);

    img {
        height: var(--app-navbar-height);
    }    
}

nav {
    ul {
        list-style: none;

        li {
            line-height: var(--app-navbar-height);
        }
    }
}

button.hamburger {
    display: none;
}

nav ul li a {
    color: var(--app-primary-font-color);
    padding: 8px 15px;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav ul li a:hover {
    color: var(--app-primary-color);
}

.hero-banner-container {
    height: calc(100% - 80px);
    color: var(--app-primary-font-color);
}

.hero-banner-content {
    width: 100%;
    flex-wrap: wrap;
}

.button {
    border-radius: 5px;
    padding: 8px 25px;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--app-button-bg-color);
    color: #fff;
}

.button:hover {
    background-color: var(--app-button-bg-color-hover);
}


.text-grp {
    h2 {
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 5px;
        color: var(--app-primary-font-color);    
    }

    h3 {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 5px;
        color: var(--app-primary-font-color);
    }

    p {
        font-weight: 600;
        font-size: 16px;
        color: var(--app-primary-font-color);
    }

    .hero-buttons {
        margin-top: 30px;
    
        .primary {
            background-color: var(--app-button-bg-color-primary);
            color: var(--app-light-beige-color);
            display: inline-block;
        }
    
        .primary:hover {
            background-color: var(--app-button-bg-color-primary-hover);
        }    
    }
    
}
.hero-banner-col {
    flex: 0 0 auto;
    width: calc(50% - 10px);
}

.picture {
    /*max-width: 400px;*/

    img {
        width: 100%;
    }
}

.typing-effect {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    width: 0;
    animation: typing 4s steps(40) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: transparent; 
    }
}


/*----------------------*/
/* Main                 */
/*----------------------*/

main {
    color: #333;

    section{
        padding: 50px 0;
    }
}

section.about, section.contact {
    background-color: #f2f5f7;
}

.section-title {
    color: #333333;

    h2 {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 0 5px 0;
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 5px 0;
    }
}

.section-content {
    margin: 15px 0 5px 0;
    width: 100%;
    flex-wrap: wrap;
    
    p {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        line-height: 24px;
    }
}

.box {
    
    /*width: 200px;*/
    flex: 0 0 auto;
    width: calc(25% - 10px);

    height: 60px;
    background-color: #f9fafb;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);

    img {
        height: 35px;
        padding-left: 15px;
    }

    .description {

        p {
            font-size: 20px;
            line-height: 60px;
            /*padding-left: 15px*/
        }
    }
}

.socials {
    margin-top: 25px;
    width: 100%;
    flex-wrap: wrap;
}

/*----------------------*/
/* Footer               */
/*----------------------*/

footer {
    height: var(--app-footer-height);
    background-color: #c4c4c4;
    
    p {
        color: #333;
        line-height: var(--app-footer-height);
        text-align: center;
        font-weight: 400;
    }
}

/*-----------------------*/
/* Media queries         */
/*-----------------------*/

@media screen and (max-width: 1200px) {
    .hero-banner-col {
        width: calc(50% - 10px);
    }
    
    .box {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 780px) {
    .hero-banner-col {
        width: calc(100%);
    }

    .box {
        width: calc(50% - 15px);
    }

    .hero-banner-col img {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .hero-banner-col {
        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 24px;
        }
    }

    .section-title {
        h2 {
            font-size: 30px;
        }
        
        h3 {
            font-size: 18px;
        }
    }

    .navbar {

        nav {
            ul {
                display: none;
            }

            button.hamburger {
                display: block;
                font-size: 20px;
                background: none;
                border: none;
                color: var(--app-primary-font-color);
                line-height: var(--app-navbar-height);
                padding: 0 10px;
                cursor: pointer;          
            }

            ul.active {
                display: grid;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px 0;
                    line-height: 10px;
                }
            }
        }
    }

}

@media screen and (max-width: 420px) {
    .hero-banner-col {
        width: calc(100%);
    }
    
    .box {
        width: calc(100%);
    }
}